.cabecalho{
    background-color: rgb(13, 68, 68);
    color: black;
}
.imagem-cabecalho{
    width: 20%;
}
.itens{
    display: flex;
}
.item1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item2{
    display: flex;
    justify-content: center;
    align-items: center;
}